<div class="container">
    <div class="row" style="margin: 50px 100px 0 100px;">
        <div class="col-2"> </div>
        <div class="col-8" style="background-color: lightpink;">
            <div class="row" style="border-bottom: 5px solid white; text-align: center ">
                <div class="col-12">
                    <h1>
                        {{ title }}
                    </h1>
                </div>
            </div> 
            <div class="row" style="margin-left: 20px;">
                <div class="col-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>       
    </div>
</div>